<button class="list-group-item list-group-item-action @ActiveItem"
    type="button" @onclick="OnSelectedPostChange">
    <div class="d-inline-flex gap-2 align-items-end">
        <img class="rounded-3" alt="GameIcon" width="40" height="40"
             src="@Post.GameIconUri">
        <div class="fs-4">@Post.GameName</div>
    </div>
    <div class="border-top border-bottom border-dark-subtle py-1">
        <div>@Post.MatchType</div>
        <div><i class="bi bi-file-person-fill"></i>: @Post.CurrentPeople / @Post.TotalPeople</div>
    </div>
    <small class="text-muted">上次更新 @((DateTime.Now - Post.LastUpdate).TotalMinutes.ToString("F0")) 前 ...</small>
</button>

@code {
    [Parameter, EditorRequired]
    public PostDto Post { get; set; } = default;
    [Parameter]
    public int SelectedPostId { get; set; } = -1;
    [Parameter]
    public EventCallback<int> SelectedPostIdChange { get; set; }

    private string ActiveItem => SelectedPostId == Post.Id ? "active" : string.Empty;

    private async Task OnSelectedPostChange()
    {
        int nextPostId = SelectedPostId == Post.Id ? -1 : Post.Id;
        await SelectedPostIdChange.InvokeAsync(nextPostId);
    }
}