@page "/messages/{PostID:int?}"

@inject IUserService UserService
@inject IPostService PostService

<PageTitle>你的消息</PageTitle>

<div class="d-flex">
    <!-- vertical message navbar -->
    <div class="overflow-y-scroll pe-0 vh-100">
        <div class="list-group p-1">
            @if (!hasPost)
            {
                <div class="text-info">您还没有参加过组队，不试一试嘛❤</div>
            }
            else if (myPosts is null)
            {
                <LoadingSpinner />
            }
            else
            {
                @foreach (var post in myPosts)
                {
                    if (post.PostID == PostID)
                    {
                        <MessageNavbar Post="@post" IsActive="@true" />
                    }
                    else
                    {
                        <MessageNavbar Post="@post" IsActive="@false" />
                    }
                }
            }
        </div>
    </div>
    <!-- message tabs -->
    <div class="container-fluid vh-100 ps-2 pe-1 flex-grow-1">
        @if (selectedPost is null)
        {
            <p>选择任意对话开始浏览</p>
        }
        else
        {
            <MessageDetail Post="@selectedPost" />
        }
    </div>
</div>

@code {
    [Parameter]
    public int? PostID { get; set; }

    private IEnumerable<int>? myPostIDs;
    private bool hasPost = true;
    private IEnumerable<Post>? myPosts;
    private Post? selectedPost;

    protected override async Task OnInitializedAsync()
    {
        myPostIDs = await UserService.GetLoginUserJoinedPostIDsAsync();
        if (myPostIDs is null || !myPostIDs.Any())
        {
            hasPost = false;
        }
        else
        {
            myPosts = await PostService.GetPostsAsync(myPostIDs);
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        if (PostID is not null && myPosts is not null)
        {
            selectedPost = (
                from post in myPosts
                where post.PostID == PostID
                select post
            ).First();
        }
    }
}