@page "/teams/{GameName}"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@inject ILoginService LoginService
@inject IPostService PostService
@inject IGameService GameService

<PageTitle>在@(GameName)找个队</PageTitle>

<div class="d-flex flex-column h-100">
    <!-- Game Icon & Info -->
    <div class="p-3 m-2 d-flex rounded-3 bg-dark-subtle">
        @if (_game is null || _game.GameID <= 0)
        {
            <LoadingSpinner />
            <p>正在获得游戏详细信息 ...</p>
        }
        else
        {
            <img src="@_game.IconURI" alt="GameIcon" width="100" height="100" class="rounded-5">
            <div class="mx-3 my-1">
                <div style="font-size: xx-large; font-weight: bold;">@_game.GameName</div>
                <small class="text-muted">@_game.Followers 订阅</small>
            </div>
        }
    </div>
    <hr>
    <!-- TODO: Team Finding Cards for a Single Game -->
    <div class="flex-grow-1 flex-nowrap overflow-y-auto overflow-x-hidden">

        <!-- TODO: Game Type Selector -->
        <div class="btn-toolbar justify-content-between px-3 py-2" role="toolbar"
            aria-label="Toolbar For Matchmaking Types">
            <!-- Match Types -->
            <div class="btn-group m-1" role="group" aria-label="Match Types Button Group">
                <input type="radio" class="btn-check" name="TypeBtnRadio" id="TypeBtnRadioAll" autocomplete="off"
                    checked>
                <label class="btn btn-outline-primary" for="TypeBtnRadioAll">All</label>

                <input type="radio" class="btn-check" name="TypeBtnRadio" id="TypeBtnRadio1" autocomplete="off">
                <label class="btn btn-outline-primary" for="TypeBtnRadio1">PvP</label>

                <input type="radio" class="btn-check" name="TypeBtnRadio" id="TypeBtnRadio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="TypeBtnRadio2">PvE</label>

                <input type="radio" class="btn-check" name="TypeBtnRadio" id="TypeBtnRadio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="TypeBtnRadio3">Others</label>
            </div>
            <!-- TODO: Start a New Post -->
            <div class="btn-group me-1 ms-auto" role="group" aria-label="New Post Button">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                        data-bs-target="#teamCreateModal" disabled="@(!_userHasLogin)">
                    新组队
                </button>
            </div>
        </div>

        <!-- Team Finding Cards for games -->
        <div class="row row-cols-auto g-3 m-0">
            @if (_posts is null)
            {
                <LoadingSpinner />
            }
            else
            {
                @if (!_posts.Any())
                {
                    <div class="container-fluid m-auto d-flex align-items-center" style="height: 200px;">
                        <p>目前没有人在 @GameName 寻找组队 ...</p>
                    </div>
                }
                else
                {
                    @foreach (var post in _posts)
                    {
                        <TeamCard Post="@post" OnDetailCallback="@(() => ShowTeamDetail(post))" />
                    }
                }
            }
        </div>
    </div>
</div>

<NewPostModal GameName="@GameName" />
<PostDetailModal Post="@_selectedPost" />

@code {
    [Parameter]
    public string GameName { get; set; } = string.Empty;

    private bool _userHasLogin = false;

    private Post _selectedPost = new();
    private IEnumerable<Post>? _posts;
    private GameTemp? _game;

    protected override async Task OnParametersSetAsync()
    {
        _posts = await PostService.GetPostsAsync(GameName);
        _game = await GameService.GetGameAsync(GameName);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userLoginResult = await LocalStorage.GetAsync<string>(LoginService.LocalStorageKey);
        if (!userLoginResult.Success)
        {
            _userHasLogin = false;
            return;
        }

        (_userHasLogin, int _) = await LoginService.UserHasLoginAsync(userLoginResult.Value);

        StateHasChanged();
    }

    private void ShowTeamDetail(Post post)
    {
        _selectedPost = post;
    }
}





