<div class="col mx-auto">
    <div class="card h-100" style="min-width: 18rem;">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="fs-6">@Post.CreatorName</div>
                <button class="btn border-0 dropdown-toggle bg-transparent" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img class="rounded-circle" src="@Post.CreatorIconUri" alt="User" width="30" height="30">
                </button>
                <ul class="dropdown-menu text-small shadow">
                    <li><button class="dropdown-item" type="button" disabled>个人资料</button></li>
                    <li><button class="dropdown-item" type="button" disabled>私信</button></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button class="dropdown-item" type="button" disabled>屏蔽</button></li>
                </ul>
            </div>
            <h4>@Post.MatchType
                @if (Post.AudioChat)
                {
                    <i class="bi bi-mic-fill ms-3"></i>
                }
                else
                {
                    <i class="bi bi-mic-mute-fill ms-3"></i>
                }
            </h4>
            <div class="px-2 my-2 d-inline-flex border border-1 border-primary-subtle rounded-4">
                <PersonIconsDiv Current="@Post.CurrentPeople" Remain="@(Post.TotalPeople - Post.CurrentPeople)" />
            </div>
            <div class="d-flex flex-wrap gap-1 my-2">
                @foreach (var requirement in Post.Requirements)
                {
                    <div class="px-2 rounded-4 bg-info-subtle">@requirement</div>
                }
            </div>
            @if (Post.PlayNow)
            {
                <div class="card-text py-1 my-2">游戏时间:
                    <span class="fw-bold">现在</span>
                </div>
            }
            else
            {
                <div class="card-text py-1 my-2">游戏时间:
                    <span class="fw-bold">@(Post.Start.ToShortDateString()) ~ @(Post.End.ToShortDateString())</span>
                </div>
            }
            <div class="card-text px-2 py-1 rounded-3 bg-dark-subtle">
                @Post.Description
            </div>
        </div>
        <div class="card-footer d-inline-flex justify-content-between align-items-center gap-3">
            <small class="text-muted">最后更新 @((DateTime.Now - Post.LastUpdate).TotalMinutes.ToString("F0")) 分钟前</small>
            <button type="button" class="btn btn-outline-primary p-1" data-bs-toggle="modal"
                data-bs-target="#teamInfoModal" @onclick="OnDetailCallback">详情</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostDto Post { get; set; } = new();
    [Parameter]
    public EventCallback<MouseEventArgs> OnDetailCallback { get; set; }
}




